html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Roboto', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
    background-color: rgba(0, 0, 0, 0.884);
    background-image:url(./images/slider.jpg);
background-position: center;
background-size: cover;
width: 100%;
/* height: 100vh; */

}
.head{
    background-color: rgba(0, 0, 0, 0.719);
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.logo{
 padding-top: 100px;   
 padding-bottom:40px;
}

.msg1{
    color:rgb(24, 171, 230);
    font-size: 31px;
    font-weight: 600;
    padding:7px 0;
    letter-spacing: 1px;
}
.msg2{
    color:white;
    font-size: 42px;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom:10px;
    letter-spacing: 1px;
    
}
.time_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    padding-top:40px;
    padding-bottom: 60px;
}

.time{
    border:2px solid rgb(24, 171, 230);
    height:120px;
    width:120px;
    margin:0px 15px;
    text-align: center;
}
.time1{
    color:white;
    font-size: 60px;
    padding:10px;
}
.time2{
    color:rgb(24, 171, 230);
    font-size: 20px;
}
.sub{
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
    letter-spacing: 0;
    font-size: 15px;
    font-weight: 400;
}
.but{
    padding:20px 0;
    width:400px;
    }
.mail{
    background: transparent;
    border:1px solid rgb(24, 171, 230);
height:40px;
border-radius: 0;
color:white;
}
.mail:focus{
    background: transparent;
    color: white;
}
.btn{
    background: transparent;
    background-color:rgb(24, 171, 230) ;
    border-radius: 0;
    height:40px;
    color:white;
}
.btn:hover{
    background-color: rgb(21, 127, 226);
    color:white;
}
.handles{
    margin-top: 25px;
    margin-bottom: 100px;
    display: flex;
}
.media{
    border: 1px solid rgb(24, 171, 230);
    height: 35px;
    width: 35px;
    margin:7px;
    text-align: center;
    /* padding:8px; */
    transition: all 0.3s ease-in-out;
}
.icons{
    color:rgb(24, 171, 230);
    padding:10px;
    transition: all 0.3s ease-in-out;
}



.media:hover{
    background-color: rgb(24, 171, 230);
}

.icons:hover{
    color: white;
}
.line{
    display: inline-block;
    height:1px;
    width:100px;
    background-color: rgb(24, 171, 230);
}
.sec-head{
    font-size: 25px;
    font-weight: 500;
    padding-top: 120px;
}
.sec-service{
    font-size:25px;
    font-weight: 500;
    color:rgb(88, 155, 132);
    padding-top: 30px;
}
.sec-para{
    color:rgb(88, 155, 132);
    font-size: 13px;
    font-weight: 500;
    padding-top: 20px;
    line-height: 1.5;
}
.category{
    height:80px;
    width:80px;
    border: 2px solid rgb(24, 171, 230);
    transition: all 0.3s;
}
.category:hover{
    background-color: rgb(24, 171, 230);;
}
.category-title{
    font-size: 20px;
    font-weight: 500;
    padding:20px 0 0 0;
}
.sec-icon{
    padding:25px;
    font-size: 25px;
    color:rgb(24, 171, 230);
}
.sec-icon:hover{
    color:white;
}
.gift-icon{
    padding: 10px;
    margin: 20px;
    font-size: 25px;
    color:rgb(24, 171, 230);
    border:1px solid rgb(24, 171, 230);
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.category-head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:center;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;

}
.category-items{
    /* width:200px; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    
    text-align: center;
}
.section2{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2-head{
    color:white;
    font-size: 25px;
    font-weight: 500;
    padding-top: 120px;
    padding-bottom: 20px;
}
.ppl-blk{
    width:300px;
    height:300px;
    padding:100px;
    border:2px solid #18abe6;
    display: none;
 }

.blk1{
    background-image: url(./images/01.jpg);
    background-position: center;
background-size: cover;
width:300px;
    height:300px;
    border:2px solid #18abe6;

}
.blk2{
    background-image: url(./images/02.jpg);
    background-position: center;
background-size: cover;
width:300px;
    height:300px;
    border:2px solid #18abe6;
}
.blk3{
    background-image: url(./images/03.jpg);
    background-position: center;
background-size: cover;
width:300px;
    height:300px;
    border:2px solid #18abe6;
}
.sec2-ppl h1{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0 20px 0;
}
.sec2-ppl p{
    color:rgb(24, 171, 230);
}
.sec2-ppl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
justify-content:center;
text-align: center;
}
.sec2-ppl1{
    margin:60px 40px 150px 40px;
}
.ppl-icon{
    border: 1px solid rgb(24, 171, 230);
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color:rgb(24, 171, 230) ;
    margin: 5px 0;

}
.ppl-icons{
    color:white;
    padding:10px;
    font-size:15px;
    
}
.sec3-head{
    font-size: 25px;
    font-weight: 500;
    padding-top: 120px;
    padding-bottom: 20px;
}    
.form{
    margin:60px 0 20px 0;
}
input[type=text]{
    border:1px solid rgb(24, 171, 230) ;
    height: 30px;
    width: 350px;
    
    /* margin: 0 10px; */
}
.form input[type=email]{
    border:1px solid rgb(24, 171, 230) ;
    height: 30px;
    width: 350px;
    
    /* margin: 0 10px; */
}

textarea{
    margin-top: 30px ;
    border:1px solid rgb(24, 171, 230) ;
    width: 100%;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    /* border: 1px solid rgb(24, 171, 230) ;
     */
     margin-bottom: 120px;
     padding: 10px;
}
footer{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.774);
    padding:50px 0;
    text-align: center;

}
footer span{
    font-weight: 800;
}
@media(max-width:1024px){
    .sec2-ppl{
        grid-template-columns: 1fr;
       }
}
@media(max-width:990px){
    .category-head{
        grid-template-columns: 1fr 1fr;
        
    }
    .category-items{
        margin-bottom: 20px;
    }
       .sec-para-hand{
           width:400px;
           text-align: center;  
       }
       .sec2-ppl1{
    margin-bottom: 5px;
       }
       .last{
           margin-bottom: 80px;
       }
    }
    
    @media(max-width:768px){
        .category-head{
            grid-template-columns: 1fr;
            
        }
        .category-items{
            margin-bottom: 20px;
        }
        .sec-para-top{
            width:350px;
            text-align: center;  
        }
        .but{
            width:80%;
        }
    }
    
    @media(max-width:765px){
        input[type=text]{
            width:100%;
            margin:5px;
        }
       .form input[type=email]{
            width: 100%;
            margin:5px;
        }
        textarea{
            margin:5px;
        }
        
    }


@media(max-width:640px){
.time_box{
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
       
}   
.time{
    margin-bottom: 20px;
}
.msg1{
    width:400px;
    text-align: center;
}
.sec-service{
    width:400px;
    text-align: center;
}
.sec-para-bot{
    width:400px;
    text-align: center;
}
}
@media(max-width:380px){
    .msg1{
        width:350px;
        text-align: center;
    }
    
    .sec-para-hand{
        width:350px;
        text-align: center;  
    }
    .sec-service{
        width:350px;
        text-align: center;
    }
    .sec-para-bot{
        width:350px;
        text-align: center;
    }
    .but{
        width:80%;
    }
    button{
        width: 100%;
    }
    }
    